/**
* CSS file to hold styles that apply across the application
*/

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;400;600;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  scroll-behavior: smooth;
}

div#main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

section {
  position: relative;
  width: 100vw;
}

section.min-height {
  min-height: 100vh;
}
section#home{
  padding: 30px;
  display: flex;
  flex-direction: column;
  top: 65px;
  background-color: black;
  align-items: center;
  justify-content: center;
}

section.padding {
  padding: 5rem 0;
}

section img.home_pic {
  max-width: 400px;
   border-radius: 50%;
}
.header_links{
  color: #1f1f1f;
  font-family: 'Roboto', sans-serif;
}
.logo_img{
  width: 25px;
}

.home_text{
  font-family: 'Roboto', sans-serif;
  color: white;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 7rem;
  font-weight: 400;
  line-height: 0.8;
  margin: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  padding-top: 1rem;
}

h3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: 300;
}

p.large {
  font-size: 24px;
}

p.small {
  font-size: 15px;
}

hr {
  margin: 2.5rem;
}

ul{
  columns: 2;
}
li {
  line-height: 1.7;
}

li::marker {
  color: #4e567e;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #4e567e;
}

.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 330px 330px;
  margin: 20px auto;
}

.container .box {
  border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px 16px;
  text-align: center;
  transition: 200ms;
}

.box:hover{
  transform: translateY(8px);
}

.cards{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 400px 400px;
  margin: 20px auto;
}

.cards .card{
  border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 6px;
  text-align: center;
  transition: 0.5s ease-in-out;  
  cursor: pointer;
  position: relative;
}
.card .xter{
  position: relative;
  z-index: 3;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(10px);
  transition:0.5 all;

}

.card:hover{
  transform: translateY(8px);
}
img.socialIcon {
  height: 30px;
  width: 30px;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 767px) {
  .container {
    grid-template-columns: 1fr;
  }
  ul {
    columns: 1;
    gap: 0.2rem;
    font-size: 0.75rem;
  }
  .home_text{
    font-size: 50px;
  }
  .cards{
    grid-template-columns: 1fr;
  }
  .header_links{
    font-size: small;
  }
  .container{
    grid-template-columns: 1fr;
  }
}